$def with(w)
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<meta name="author" content="zuohaitao" />
<link href="weui.min.css" type="text/css" rel="stylesheet" />
<link rel="shortcut icon" href="/favicon.ico"/>
<title>CodePongo - $w['location']天气</title>
</head>
<style>
.hd {
	padding: 2em 0;
}
body {
	background-color:#fbf9fe;
}
h1 {
	text-align: center;
}
</style>
<body>
<div class="hd">
<h1>$w['location']</h1>
</div>
<div class="weui_cells_title">
$w['date']
</div>
<div class="weui_cells">
<div class="weui_cell">
<div class="weui_cell_db weui_cell_primary">
<p>天气：$w['today']['weather']</p>
</div>
</div>
<div class="weui_cell">
<div class="weui_cell_db weui_cell_primary">
<p>风力：$w['today']['wind']</p>
</div>
</div>
<div class="weui_cell">
<div class="weui_cell_db weui_cell_primary">
<p>温度：$w['today']['temp']</p>
</div>
</div>
<div class="weui_cell">
<div class="weui_cell_db weui_cell_primary">
<p>PM2.5：$w['today']['pm25']</p>
</div>
</div>
<div class="weui_cell">
<div class="weui_cell_db weui_cell_primary">
<p>生活指数：$w['today']['index']</p>
</div>
</div>
</div>
<div class="weui_cells_title">
$w['tomorrow']['date']
</div>
<div class="weui_cells">
<div class="weui_cell">
<div class="weui_cell_db weui_cell_primary">
<p>天气：$w['tomorrow']['weather']</p>
</div>
</div>
<div class="weui_cell">
<div class="weui_cell_db weui_cell_primary">
<p>风力：$w['tomorrow']['wind']</p>
</div>
</div>
<div class="weui_cell">
<div class="weui_cell_db weui_cell_primary">
<p>气温：$w['tomorrow']['temp']</p>
</div>
</div>
</div>
</div>
<form class="weui_cells weui_cells_form" action="/weather" method="POST">
<div class="weui_cell">
<input name="city" class="weui_input" type="text" placeholder="输入城市名称，查询天气情况">
</div>
<div class="weui_cell">
<input class="weui_btn weui_btn_primary" type="submit" value="查天气">
</div>
</form>
</body>
</html>

